* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: lightblue;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.board {
  border: 1px solid blue;
  width: 107px;
  height: 107px;
  display: flex;
  flex-wrap: wrap;
}

.game {
  display: flex;
}
